<h1 class="page-header">Fanfics</h1>

<div class="row show-hide-message" *ngIf="message && newFanfic">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div> 

<div>
	<div class="panel panel-primary" *ngFor="let fanfic of fanficPosts">

		<div class="panel-heading">
			<h3 class="panel-title"><a [routerLink]="['/view-fanfic/', fanfic._id]">{{ fanfic.title }}</a></h3>
		</div>

		<div class="panel-body">
			{{ fanfic.description }}
		</div>

		<div class="panel-footer">
			<strong>Posted by: </strong>{{ fanfic.createdBy }}
			<br />
			<strong>Date: </strong>{{ fanfic.createdAt | date:'dd MMM, yyyy' }}
			<br />
			
<!-- 			<a [routerLink]="['/edit-fanfic/', fanfic._id]" *ngIf="username === fanfic.createdBy"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
Delete Button
<a [routerLink]="['/delete-fanfic/', fanfic._id]" *ngIf="username === fanfic.createdBy"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a> -->

		
				<!-- Like Button -->
				<button type="button" name="button" class="btn btn-sm btn-success" *ngIf="(username !== fanfic.createdBy) && (isAuthorized())" (click)="likeFanfic(fanfic._id)"><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>{{ fanfic.likes }}</button>
					 
		</div>	
	</div>
</div>


