<h1 class="page-header">Delete Fanfic</h1>

<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>


<div *ngIf="foundFanfic">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" name="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Confirm</h4>
    </div>

    <div class="modal-body">
      <p>Are you sure you would like to delete this fanfic?</p>
    </div>

    <div class="modal-footer">
      <button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="deleteFanfic()">Yes</button>
      <a routerLink="/fanfics"><button [disabled]="processing" type="button" name="button" class="btn btn-danger">No</button></a>
    </div>
  </div>

  <br />

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{ fanfic.title }}</h3>
    </div>

    <div class="panel-body">
      {{ fanfic.body }}
    </div>

    <div class="panel-footer">
      <strong>Posted by: </strong> {{ fanfic.createdBy }}
      <br />
      <strong>Date: </strong> {{ fanfic.createdAt | date:'MMM dd, yyyy' }}
    </div>
  </div>

</div>